// Injected (in-memory) into the themes directory used by ace
// Sadly does not show up in settings (ctrl+,) > themes dropdown

.ace-aurelia-dark-plus .ace_gutter {
  background: #2F3129;
  color: #8F908A
}

.ace-aurelia-dark-plus .ace_print-margin {
  width: 1px;
  background: #555651
}

.ace-aurelia-dark-plus {
  background-color: #272822;
  color: #F8F8F2
}

.ace-aurelia-dark-plus .ace_cursor {
  color: #F8F8F0
}

.ace-aurelia-dark-plus .ace_marker-layer .ace_selection {
  // background: #49483E
  background-color: palevioletred !important;
}

.ace-aurelia-dark-plus.ace_multiselect .ace_selection.ace_start {
  box-shadow: 0 0 3px 0px #272822;
}

.ace-aurelia-dark-plus .ace_marker-layer .ace_step {
  background: rgb(102, 82, 0)
}

.ace-aurelia-dark-plus .ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px;
  border: 1px solid #49483E
}

.ace-aurelia-dark-plus .ace_marker-layer .ace_active-line {
  background: #202020
}

.ace-aurelia-dark-plus .ace_gutter-active-line {
  background-color: #272727
}

.ace-aurelia-dark-plus .ace_marker-layer .ace_selected-word {
  border: 1px solid #49483E
}

.ace-aurelia-dark-plus .ace_invisible {
  color: #52524d
}

.ace-aurelia-dark-plus .ace_entity.ace_name.ace_tag, .ace-aurelia-dark-plus .ace_meta.ace_tag, .ace-aurelia-dark-plus .ace_storage {
  color: darkorchid // #F92672
}

.ace-aurelia-dark-plus .ace_punctuation, .ace-aurelia-dark-plus .ace_punctuation.ace_tag {
  color: #fff
}

.ace-aurelia-dark-plus .ace_constant.ace_character, .ace-aurelia-dark-plus .ace_constant.ace_language, .ace-aurelia-dark-plus .ace_constant.ace_numeric, .ace-aurelia-dark-plus .ace_constant.ace_other {
  color: #AE81FF
}

.ace-aurelia-dark-plus .ace_invalid {
  color: #F8F8F0;
  background-color: #F92672
}

.ace-aurelia-dark-plus .ace_invalid.ace_deprecated {
  color: #F8F8F0;
  background-color: #AE81FF
}

.ace-aurelia-dark-plus .ace_support.ace_constant, .ace-aurelia-dark-plus .ace_support.ace_function {
  color: palegoldenrod; // #66D9EF
}

.ace-aurelia-dark-plus .ace_fold {
  background-color: #A6E22E;
  border-color: #F8F8F2
}

.ace-aurelia-dark-plus .ace_storage.ace_type, .ace-aurelia-dark-plus .ace_support.ace_class, .ace-aurelia-dark-plus .ace_keyword, .ace-aurelia-dark-plus .ace_support.ace_type {
  font-style: italic;
  color: #42affa; // #66D9EF
}

.ace-aurelia-dark-plus .ace_entity.ace_name.ace_function, .ace-aurelia-dark-plus .ace_entity.ace_other, .ace-aurelia-dark-plus .ace_entity.ace_other.ace_attribute-name, .ace-aurelia-dark-plus .ace_variable {
  color: #A6E22E
}

.ace-aurelia-dark-plus .ace_variable.ace_parameter {
  font-style: italic;
  color: skyblue; // #FD971F
}

.ace-aurelia-dark-plus .ace_string {
  color: darkgoldenrod; // #E6DB74
}

.ace-aurelia-dark-plus .ace_comment {
  color: forestgreen; // #75715E
}

.ace-aurelia-dark-plus .ace_indent-guide {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWPQ0FD0ZXBzd/wPAAjVAoxeSgNeAAAAAElFTkSuQmCC) right repeat-y
}

.ace-aurelia-dark-plus .ace_identifier {
  color: skyblue;
}

.ace-aurelia-dark-plus .ace_operator {
  color: white;
}