:root {
  --slide-margin: 0.5em;
  --header-padding: 0.5em;
  --header-margin: 1.0em;
  --footer-margin: 0.3em;
}

html, body {
  width: unset;
  height: unset;
}

.reveal.grid {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr auto;
  height: 100vh;
  box-sizing: border-box;
  grid-template-areas: "menu menu menu" "content content content" "venue venue venue";

  .title {
    margin-left: 0.5em;
    font-family: Arial, Helvetica, sans-serif;
  }

  .toast.author {
    grid-area: author;
  }

  .venue {
    grid-area: venue;
    margin: var(--footer-margin);
  }

  .slide-menu-button {
    grid-area: menu;
    padding: var(--header-padding);
    display: block;
    cursor: pointer;
  }

  .slides > section, .slides > section > section {
    position: unset;
    width: unset;
    padding: unset;
  }

  .slides {
    /* Force slides to work as expected inside grid */
    position: unset;
    top: unset !important;
    right: unset !important;
    bottom: unset !important;
    left: unset !important;
    transform: unset !important;
    margin: unset;
    text-align: unset;
    perspective: unset;
    perspective-origin: unset;

    /* Grid Conversion */
    display: grid;
    grid-area: content;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
    width: 100vw !important;
    height: unset !important;
    overflow: hidden;
    box-sizing: border-box;

    section {
      box-sizing: border-box;
      padding: var(--slide-margin);
      grid-column: 1 / -1;
      grid-row: 1 / -1;

      /* Default Center, Top, left */
      display: grid !important;
      align-content: stretch;
      justify-content: start;
      width: 100vw;

      div {
        position: relative;
      }

      div > img {
        display: block;
      }

      .footnote {
        position: absolute;
        bottom: 0;
        margin-left: 0.2em;
    
        &:before {
          content: '* ';
          color: red;
          font-size: 1.5em;
          position: relative;
          top: 20px;
          left: 10px;
          font-weight: bold;
        }
      }

      &:not(.two-column):not(.two-row-top):not(.two-row-bottom) {
        * {
          margin:0;padding:0;
          line-height: 1.5em;
          height: 1.5em;
        }
      }

      // For slides with no layout (col-axis)
      &.middle:not(.two-column):not(.two-row-top):not(.two-row-bottom) {
        display: grid !important;
        align-content: center;
      }
      
      // For div's inside a layout (col-axis)
      // default for two-column right-side
      > div.middle {
        display: grid !important;
        align-content: center;
      }

      // For slides with no layout (row-axis)
      &.center:not(.two-column):not(.two-row-top):not(.two-row-bottom) {
        display: grid !important;        
        justify-content: center;
        height: unset;
      }
      
      // default for two-column left-side pill
      > div.top {
        display: grid !important;
        justify-content: start;
      }

      // default for two-column left-side pill
      div.bottom {
        display: grid !important;
        align-content: end !important;
      }

      &.extra-margin {
        margin: 1.0em;
      }
    }

    /* Basic Slide Types */
    section.title {
      display:grid !important;
      align-content: center;
      margin: 1.0em;
    }

    section.two-column {
      display: grid !important;
      grid-template-columns: auto 1fr;
      

      > div:first-child {
        background: linear-gradient(to right, rgba(0,0,0, 0.4) 0%, rgba(0,0,0, 0.1) 100%);
        box-shadow: inset -16px 0px 20px 0px grey, 2px 0px 2px 0px grey;
        border-top-right-radius: 1.5em;
        border-bottom-right-radius: 1.5em;
        text-shadow: 1px 1px black;
        color: darkgrey;
        text-shadow: 1px 1px dimgrey;
        padding: 0.5em;

        p {
          font-size: 0.7em;
        }

        h1, h2, h3, h4, h5, h6 {
          opacity: 0.8;
        }

        blockquote {
          font-style: normal;
          background: none;
          width: 95%;
          box-shadow: none;
          font-style: italic;
        }
      }

      > div:nth-child(2) {
        display: grid;
        padding: 0.5em;
        justify-content: left;
        align-content: center;

        &.top {
          align-content: start;
        }
      }
    }
    
    section.two-row-top {
      display: grid !important;
      grid-template-rows: auto 1fr;
      grid-template-columns: 1fr;

      // Fix chrome row width issue
      @media screen and (-webkit-min-device-pixel-ratio:0) {
        grid-template-columns: auto;
      }

      > div:first-child {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        background: linear-gradient(to bottom, rgba(0,0,0, 0.4) 0%, rgba(0,0,0, 0.1) 100%);
        box-shadow: inset 0px -16px 20px 0px grey, 2px 0px 2px 0px grey;
        border-bottom-left-radius: 1.5em;
        border-bottom-right-radius: 1.5em;
        padding: 20px;

        &.left {
          grid-template-columns: auto 1fr;
          justify-content: unset;
        }

        p {
          align-self: center;
          justify-self: left;
        }
      }

      > div:nth-child(2) {
        align-self: center;
        justify-self: center;

        &.left {
          align-self: unset;
          justify-self: unset;
          margin-top: 0.5em;
        }
      }
    }

    section.two-row-bottom {
      display: grid !important;
      grid-template-rows: 1fr auto;

      > div:first-child {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-evenly;

        &.left {
          justify-content: left;
          margin-left: 1.0em;
        }

        > div:first-child {
          img {
            box-shadow: initial !important;
          }
        }

        > div:nth-child(2) {
          text-align: left;

          h2, h3, h4, h5 {
            margin-bottom: 0;
            padding-bottom: 0;
          }
          h3 span {
            font-weight: normal;
            position: relative;
            top: -4px;
            text-transform: initial;
            color: darkgrey;
          }
        }
      }

      > div:nth-child(2) {
        background: linear-gradient(to top, rgba(0,0,0, 0.4) 0%, rgba(0,0,0, 0.1) 100%);
        box-shadow: inset 0px 10px 20px 0px grey, 2px 0px 2px 0px grey;
        border-top-left-radius: 1.5em;
        border-top-right-radius: 1.5em;
        padding: 1.0em;

        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 1.5em;

        font-size: 0.8em;

        img {
          border: unset;
          margin-top: 0;
          margin-bottom: 0;
          margin-left: 0;
          margin-right: 5px;
          position: relative;
          width: 32px;
          top: 10px;
          margin: 5px 0;
          background: inherit;
        }

        p {
          margin: 0;
          line-height: 1.0;
          text-shadow: 1px 1px black;
        }

        > div:first-child {
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          justify-content: flex-end;
          
          p {
            color: skyblue;
          }
          h3 {
            margin-bottom: 1.0em;
          }
        }

        > div:nth-child(2) {
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          justify-content: flex-end;
          flex-grow: 1;
        }
      }
    }
  }
}  