:root {
  --slide-margin: 0.5em;
  --header-padding: 1.0em;
  --header-margin: 1.0em;
  --footer-margin: 0.25em;
}

html, body {
  width: unset;
  height: unset;
}

.reveal.grid {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr auto;
  height: 100vh;
  box-sizing: border-box;
  grid-template-areas: "menu title title" "content content content" "venue venue venue";

  header.title {
    grid-area: title;
    margin-bottom: 0.1em;
    font-size: 0.8em;
    align-self: center;
  }

  .toast.author {
    grid-area: author;
  }

  .venue {
    grid-area: venue;
    margin: var(--footer-margin);
  }

  .slide-menu-button {
    grid-area: menu;
    padding: var(--header-padding);
    display: block;
    cursor: pointer;
  }

  .slides > section, .slides > section > section {
    position: unset;
    width: unset;
    padding: unset;
  }

  .justify-center {
    justify-content: center;
  }

  .slides {
    /* Force slides to work as expected inside grid */
    position: unset;
    top: unset !important;
    right: unset !important;
    bottom: unset !important;
    left: unset !important;
    transform: unset !important;
    margin: unset;
    text-align: unset;
    perspective: unset;
    perspective-origin: unset;

    /* Grid Conversion */
    display: grid;
    grid-area: content;
    grid-template-columns: auto;
    grid-template-rows: auto;
    width: 100vw !important;
    height: unset !important;
    overflow: hidden;
    box-sizing: border-box;

    section {
      box-sizing: border-box;
      padding: var(--slide-margin);
      padding-top: var(--slide-margin);
      padding-bottom: calc(var(--slide-margin) + 2.5em);
      grid-column: 1 / -1;
      grid-row: 1 / -1;
      height: calc(100vh - calc(var(--slide-margin) + var(--footer-margin)));

      /* Default Center, Top, left */
      display: grid !important;
      align-content: stretch;
      justify-content: start;
      width: 100vw;
    }

    /* Basic Slide Types */
    section.title {
      display:grid !important;
      align-content: center;
      margin: 1.0em;
    }

    section.center:not(.two-column) {
      align-content: center;
      justify-content: center;
    }
    
    section.two-column {
      display: grid !important;
      grid-template-columns: auto 1fr;
      
      &.center {
        > div:first-child {
          display: grid;
          align-content: center;
          justify-content: center;
        }
        > div:nth-child(2) {
          align-content: center;
        }
      }

      > div:first-child {
        background: linear-gradient(to right, rgba(0,0,0, 0.4) 0%, rgba(0,0,0, 0.1) 100%);
        box-shadow: inset -16px 0px 20px 0px grey, 2px 0px 2px 0px grey;
        border-top-right-radius: 1.5em;
        border-bottom-right-radius: 1.5em;
        text-shadow: 1px 1px black;
        color: darkgrey;
        text-shadow: 1px 1px dimgrey;
        padding: 0.5em;

        h1, h2, h3, h4, h5, h6 {
          opacity: 0.8;
        }

        blockquote {
          font-style: normal;
          background: none;
          width: 95%;
          box-shadow: none;
          font-style: italic;
        }
      }

      > div:nth-child(2) {
        display: grid;
        padding: 0.5em;
        justify-content: left;
        align-content: center;

        &.top {
          align-content: start;
        }
      }
    }
    
    section.two-row-top {
      display: grid !important;
      grid-template-rows: auto 1fr;

      > div:first-child {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        background: linear-gradient(to bottom, rgba(0,0,0, 0.4) 0%, rgba(0,0,0, 0.1) 100%);
        box-shadow: inset -16px 0px 20px 0px grey, 2px 0px 2px 0px grey;
        border-bottom-left-radius: 1.5em;
        border-bottom-right-radius: 1.5em;
        padding: 20px;

        &.left {
          grid-template-columns: auto 1fr;
          justify-content: unset;
        }

        p {
          align-self: center;
          justify-self: left;
        }
      }

      > div:nth-child(2) {
        align-self: center;
        justify-self: center;

        &.left {
          align-self: unset;
          justify-self: unset;
          margin-top: 0.5em;
        }
      }
    }

    section.two-row-bottom {
      display: grid !important;
      grid-template-rows: 1fr auto;

      > div:first-child {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        align-items: center;

        &.left {
          justify-content: left;
          margin-left: 1.0em;
        }

        > div:first-child {
          img {
            box-shadow: initial !important;
          }
        }

        > div:nth-child(2) {
          text-align: left;

          h2, h3, h4, h5 {
            margin-bottom: 0;
            padding-bottom: 0;
          }
          h3 span {
            font-weight: normal;
            position: relative;
            top: -4px;
            text-transform: initial;
            color: darkgrey;
          }
        }
      }

      > div:nth-child(2) {
        background: linear-gradient(to top, rgba(0,0,0, 0.4) 0%, rgba(0,0,0, 0.1) 100%);
        box-shadow: inset 0px 10px 20px 0px grey, 2px 0px 2px 0px grey;
        border-top-left-radius: 1.5em;
        border-top-right-radius: 1.5em;
        padding: 1.0em;

        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 1.5em;

        font-size: 0.8em;

        img {
          border: unset;
          margin-top: 0;
          margin-bottom: 0;
          margin-left: 0;
          margin-right: 5px;
          position: relative;
          width: 32px;
          top: 10px;
          margin: 5px 0;
          background: inherit;
        }

        p {
          margin: 0;
          line-height: 1.0;
          text-shadow: 1px 1px black;
        }

        > div:first-child {
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          justify-content: flex-end;
          
          p {
            color: skyblue;
          }
          h3 {
            margin-bottom: 1.0em;
          }
        }

        > div:nth-child(2) {
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          justify-content: flex-end;
          flex-grow: 1;
        }
      }
    }
  }
}  