@mixin showOnHover() {
  transition: opacity 1s ease;

  &:hover {
    opacity: 1;
  }
}

@mixin centerChildrenFlex() {
  display: flex; // center children
  flex-direction: column;
  place-content: center;
}

@mixin bullet() {
  content: '\025B8';
  color: red;
}